<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
  <system.webServer>
    <handlers>
      <add name="masked-wallet" verb="GET,POST" path="mwr" type="IBServer.MaskedHandler"/>
      <add name="validate" verb="GET,POST" path="validate" type="IBServer.JWTValidationHandler"/>
      <add name="full-wallet" verb="GET,POST" path="fwr" type="IBServer.FullHandler"/>
      <add name="notify-transaction-status" verb="GET,POST" path="tsn" type="IBServer.NotifyHandler"/>
      <add name="logout" verb="GET,POST" path="logout" type="IBServer.LogoutHandler"/>
    </handlers>
  </system.webServer>
  <appSettings>
    <add key="merchant_name" value="Bike Store"/>
    <add key="sandbox_merchant_id" value="SANDBOX_MERCHANT_ID"/>
    <add key="sandbox_merchant_auth_key" value="SANDBOX_AUTH_KEY"/>
    <add key="sandbox_scopes" value="email profile https://www.googleapis.com/auth/paymentssandbox.make_payments"/>
    <add key="production_merchant_id" value="Production Id"/>
    <add key="produciton_merchant_auth_key" value="Production Secret"/>
    <add key="oauth_client_id" value="OAUTH_CLIENT_ID"/>
    <add key="scopes" value="email profile https://www.googleapis.com/auth/payments.make_payments"/>

    <!-- Use either SANDBOX or PRODUCTION as the environment -->
    <add key="environment" value="SANDBOX"/>
  </appSettings>

</configuration>
